/*! FILE: sass/screen.scss */

//Let's add that reset back in now, 'cos it's helpful...
@import "compass/reset";
@import "compass";
@import "susy";
//@import "susyone";

$susy: (
  columns: 12,
  container: 1200px,
  gutters: 1/4,
  global-box-sizing: border-box,
  debug: (image: show)
);

/*
@mixin block($name) {
	@include block-name($name);

	background-color: lighten(dimgray, 10%);
	border-radius: 8px;
}
*/
main{

@include container(1200px); // establish a layout context
/* include span(<width>); // lay out your elements */

}

header{

    //height: 15%;
    @include span(100%);
}


/*
aside {
  @include span(2 of 8);
}
*/

aside {
    &.left{
        @include span(3 first);
        padding: 50px;
        position:relative;
        top:-0em;
        float: left;
    }

    &.right{
        @include span(2 last);
        padding: 25px;
        position:relative;
        top:-30em;
        float: right;
    }
    height: 100%
  
 }

article {
  position: relative;
  top:3.5em;

}

footer{
    /* @include block('header'); */ 
    height: 15%;
    position:relative;
    //@include block('footer');
    @include span(100%);

}

a{
    text-decoration: none;
    display:block;
}

li{
    margin:10px;
    display:block;
    width:100%;
}
.buttons{
    background: blue;
    color: white;
    font-family:Arial;
    font-size: 18px;
    border:5px;
    padding: 20px;
    text-align:center;
    font-weight: bold;
    }
.buttons_1{
    @extend .buttons;
    background:#2b6ca2;
}
.buttons_2{
    @extend .buttons;
    background:#045283;

}
.buttons_3{
    @extend .buttons;
    background:#217ea9;

}
.buttons_4{
    @extend .buttons;
    background:#103f53;

}

.buttons_small{
        @extend .buttons;
        padding: 12px;
        background:#286da6;
        font-size: 12px;

}

.buttons_campus_map{
        @extend .buttons_small;
        padding: 18px;
        background:#a0a0a0;

}
